<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
  <link href="{% static 'mobility/css/style.css' %} " rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="{% static "mobility/img/mobility_icon.png" %}">
  <link rel="icon" href="{% static "mobility/img/mobility_icon.png" %}">

  <title>mobility</title>

</head>

<body>
  {% block content %}
  <div class="top-gradient"></div>
  <br>
  <br>
  <div class="center-align">
    <img class='logo' src="{% static "mobility/img/mobility_beta.png" %}" alt="mobility logo">
  </div>

  <div class="container center-align">
    <h2 style="color: rgb(60,60,59); font-family: "Quicksand";">Password reset complete!</h2>
  </div>
  <div class="center-align">
    <p>Your new password has been set. You can now log in <a href='{% url 'login' %}'>here</a>.</p>
  </div>
  {% endblock %}
</body>
