{% extends 'mobility/layout.html' %}

{% block content %}

<div class="card">


  <div class="upper-card">
    <div class="card-name">
      <img class="avatar" src="https://randomuser.me/api/portraits/men/62.jpg">
      <h3>Gab Dehan (67)</h3>
      <p></p>
    </div>
    <div class="card-body">
      <p><strong>Grocery shopping</strong></p>
      <p>
        9th October 2018
      </p>
      <p>4pm-6pm</p>
    </div>
    <div class="price">
      <p>5 €</p>

    </div>


  </div>
  <hr>

  <div class="lower-card">
    <div class="card-status">
      <p class="">Avg. Rating: 4.9</p>
    </div>
    <div class="card-status">
      <p class="">Distance: 2.5km</p>
    </div>
    <div>
      <p class="card-status">Applications: 3</p>
    </div>
  </div>
</div>

{% endblock %}
