{% extends 'mobility/layout_supporter.html' %}

{% block content %}

<h2>Discover trips</h2>

{% for trip in trips %}


    <a href='/supporter/trip/{{ trip.trip_id }}/'>
    <div class="card">
          <div class="upper-card">
            <div class="card-name">
              <img class="avatar-card" src="https://randomuser.me/api/portraits/men/62.jpg">
              <h3>{{ trip.name }} ({{ trip.age }})</h3>
              <p></p>
            </div>
            <div class="card-body">
              <p><strong>Title: Lorem Ipsum</strong></p>
              <p>
                {{ trip.date }}
              </p>
              <p>{{ trip.time }}</p>
            </div>
            <div class="price">
              <p> {{ trip.reward }}</p>
            </div>
          </div>
          <hr>
          <div class="lower-card">
            <div class="card-status">
              <p class="">Avg. Rating: 4.9</p>
            </div>
            <div class="card-status">
              <p class="">Distance: 2.5km</p>
            </div>
            <div>
              <p class="card-status">Applications: 3</p>
            </div>
          </div>
      </div>
    </a>
{% endfor %}


{% endblock %}
