{% extends 'mobility/layout_senior.html' %}

{% block content %}

<h2>Pending</h2>

{% for trip in pending %}

<div class="card">
  <div class="upper-card">
    <div class="card-name">
      <div class="overlapping-avatars">
      </div>
      <h1>X</h1>
      <p>Applicants</p>
    </div>
    <div class="card-body">
      <p><strong>Grocery shopping</strong></p>
      <p>
        {{ trip.date }}
      </p>
      <p>{{ trip.time }}</p>
    </div>
    <div class="card-right">
      <div class="job-status pending">
        <p>Pending</p>
      </div>
      <div class="price">
        <p>{{ trip.reward }}</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="lower-card">
    <div class="card-status">
      <p class="">Avg. Rating: 4.9</p>
    </div>
    <div class="card-status">
      <p class="">Distance: 2.5km</p>
    </div>
    <div>
      <p class="card-status">Applications: 3</p>
    </div>
  </div>
</div>


{% endfor %}



<h2>Confirmed</h2>

{% for trip in confirmed %}

<div class="card">
  <div class="upper-card">
    <div class="card-name">
      <div class="overlapping-avatars">
      </div>
      <h1>X</h1>
      <p>Applicants</p>
    </div>
    <div class="card-body">
      <p><strong>Grocery shopping</strong></p>
      <p>
        {{ trip.date }}
      </p>
      <p>{{ trip.time }}</p>
    </div>
    <div class="card-right">
      <div class="job-status confirmed">
        <p>Confirmed</p>
      </div>
      <div class="price">
        <p>{{ trip.reward }}</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="lower-card">
    <div class="card-status">
      <p class="">Avg. Rating: 4.9</p>
    </div>
    <div class="card-status">
      <p class="">Distance: 2.5km</p>
    </div>
    <div>
      <p class="card-status">Applications: 3</p>
    </div>
  </div>
</div>

{% endfor %}


<h2>Done</h2>

{% for trip in done %}

<div class="card">
  <div class="upper-card">
    <div class="card-name">
      <div class="overlapping-avatars">


        <!-- Variable amount more avatars -->
      </div>
      <h1>X</h1>
      <p>Applicants</p>
    </div>
    <div class="card-body">
      <p><strong>Grocery shopping</strong></p>
      <p>
        {{ trip.date }}
      </p>
      <p>{{ trip.time }}</p>
    </div>
    <div class="card-right">
      <div class="job-status done">
        <p>Done</p>
      </div>
      <div class="price">
        <p>{{ trip.reward }}</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="lower-card">
    <div class="card-status">
      <p class="">Avg. Rating: 4.9</p>
    </div>
    <div class="card-status">
      <p class="">Distance: 2.5km</p>
    </div>
    <div>
      <p class="card-status">Applications: 3</p>
    </div>
  </div>
</div>


{% endfor %}

<h2>Expired</h2>

{% for trip in expired %}

<div class="card">
  <div class="upper-card">
    <div class="card-name">
      <div class="overlapping-avatars">


      </div>
      <h1>X</h1>
      <p>Applicants</p>
    </div>
    <div class="card-body">
      <p><strong>Grocery shopping</strong></p>
      <p>
        {{ trip.date }}
      </p>
      <p>{{ trip.time }}</p>
    </div>
    <div class="card-right">
      <div class="job-status expired">
        <p>Expired</p>
      </div>
      <div class="price">
        <p>{{ trip.reward }}</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="lower-card">
    <div class="card-status">
      <p class="">Avg. Rating: 4.9</p>
    </div>
    <div class="card-status">
      <p class="">Distance: 2.5km</p>
    </div>
    <div>
      <p class="card-status">Applications: 3</p>
    </div>
  </div>
</div>


{% endfor %}

{% endblock %}
