{% extends 'mobility/layout_senior.html' %}

{% block content %}

<!-- Show 'determinate' progress bar -->

<h2 class="header">Trip type</h2>

<form method="POST">
{% csrf_token %}
  <input type="hidden" name="job_type" value="one_way">

  <button type="submit" name="">
    <div class="card">
      <div id="one_way" class="card-image">
        <img src="https://images.pexels.com/photos/13861/IMG_3496bfree.jpg">
        <span class="card-title">One-way trip <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_forward</i></a></span>
      </div>
    </div>
  </button>
</form>

<form method="POST">
{% csrf_token %}
  <input type="hidden" name="job_type" value="round_trip">

  <button type="submit" name="">
    <div class="card">
      <div id="one_way" class="card-image">
        <img src="https://images.pexels.com/photos/13861/IMG_3496bfree.jpg">
        <span class="card-title">Round trip <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_forward</i></a></span>
      </div>
    </div>
  </button>
</form>

{% endblock %}
