{% extends 'mobility/layout_senior.html' %}

{% block content %}

<h2>From -> To</h2>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyA5Sn6p8fW4HUxsSPQsrrBd8iF2QWZM1hI"></script>

<form method="POST">
{% csrf_token %}

  <input id="start_location" name="start_location" class="query" type="text" required/>
  <input id="start_lat" type="hidden" name="start_lat" value="">
  <input id="start_lng" type="hidden" name="start_lng" value="">

  <input id="end_location" name="end_location" class="query" type="text" required/>
  <input id="end_lat" type="hidden" name="end_lat" value="">
  <input id="end_lng" type="hidden" name="end_lng" value="">

  <button class="btn" type="submit" name="">next <i class="material-icons">arrow_forward</i></button>

</form>

<span>{{ start }}</span>

{% endblock %}
