@import url('./cards.css')

.top-gradient {
  height: 4px;
  z-index: 999;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: #3498db;
}

/* .messages {
  width: 100%;
  height: 40px;
  background-color: #FF5E5B;
  display: none;
} */

/* .plus-button {
  color: white !important;
  font-size: 1.0rem !important;
}
.processing-button {
  color: red !important;
  font-size: 1.0rem !important;
} */


/* [type="checkbox"].delete-checkbox:checked+span:not(.lever):after {
  border: 2px solid #F44336 !important;
  background-color: #F44336 !important;
} */

/* .check-wrapper {
  text-align: center;
  width: 86px;
} */

/* #progress-loader {
  margin: 0;
  height: 4px;
  display: none;
} */

.mobility {
  color: #3498db;
  background-color: #3498db;
}

/* .card-panel, .collapsible {
  border-radius: 6px;
}

.rounded-top {
  border-radius: 6px 6px 0px 0px;
}

.rounded-bottom {
  border-radius: 0px 0px 6px 6px;
} */

#fixed-action-btn {
  border-radius: 50%;
}
/*
.btn, .btn-large, .btn-small, .btn-flat {
  border-radius: .25rem;
  /* display: inline-flex !important; */


.btn, .btn-large, .btn-small, .btn-floating {
  background-color: #3498db;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #3498db;
}

.logo {
  width: 250px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidenav.sidenav-fixed {
  top: 4px;
}

main {
  height: 100%;
  flex: 1 0 auto;
  padding-bottom: 55px;
}

body {
  background: rgb(244, 246, 248);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

div.collapsible-body {
  background: #fff;
}

.container {
    width: 90%;
}

.container-60 {
  width: 60%;
}

.card-panel {
  text-align: right;
}

.progress-wrapper {
  text-align: right;
}

.progress {
  height: 5px;
}

.right {
  width: 100%;
  text-align: right;
  float: right;
}

.icon-right {
  float: right;
  margin-left: 15px;
}

.fas, .far, .fab {
  color: rgba(0,0,0,0.7);
}

/* label color */
.input-field label {
  color: rgb(60,60,59);
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(0,222,183);
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(0,222,183);
  box-shadow: 0 1px 0 0 rgb(0,222,183);
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid rgb(0,222,183);
  box-shadow: 0 1px 0 0 rgb(0,222,183);
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid rgb(0,222,183);
  box-shadow: 0 1px 0 0 rgb(0,222,183);
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(0,222,183);
}

/* .active-menu-li {
  background: rgb(0, 222, 183, 0.1);
}

.active-menu-li > a {
  color: #3498db !important;
}

.active-menu-li > a > i{
  color: #3498db !important;
}

.download-btn {
  width: 80px;
}

.download-btn > i {
  color: white;
} */

.small-modal {
  width: 40% !important;
}

.modal {
  border-radius: 6px;
}

.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 20px;
  border-bottom: 1px solid #ddd;
}

.modal.modal-fixed-footer .modal-footer {
    border-top: 0px solid rgba(0,0,0,0.1);
}

.modal-footer {
  padding-right: 24px !important;
}

.modal-content {
  padding-top: 10px !important;
}

/* #sidenav {
  height: 100%;
}

#sidenav > #sidebar-footer {
  padding: 5px 10px 15px 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #555;
  font-size: 12px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

#sidenav > #sidebar-footer > span > i {
  color: #F44336;
}

#sidebar-footer a:link {
  color: #3498db;
} */

.link {
  color: rgb(0,222,183);
  text-decoration: underline;
}
/* CARDS CSS */


.card {
  /*display: flex;*/
  align-items: center;
  padding: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  max-width: 760px;
  align-items: flex-start;
  transition: 0.2s ease;
}

.card:hover {
  background-color: rgba(52, 152, 219,0.01);
}
.card:last-child {
  border-bottom: none;
}

.card div {
  justify-content: space-between;
}
.card-body {
  flex-grow: 1;
}

.card-body p {
  margin-bottom: 0px;
}
.card-name {
  min-width: 80px;
  text-align: center;
}
.card-name h3 {
  margin-top: 8px;
  font-size: 13px;
  margin-bottom: 0px;
}
.card-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.card-name img{
  width: 50px;
  border-radius: 50%;
  display:block;
  margin:auto;

}
.card-body {
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}
.card-body {
  padding-left: 19px;
  color: rgba(0,0,0,0.7);
  text-align: left;
  justify-content: center;
}
.card-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
  /*max-width: 40%;*/
}
.card-body p {
  margin: 6px 0;
  font-weight: light;
  font-size: 95%;
}
.card-status {
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}

.job-status p{
  font-size: 16px;
  margin-top: 5px !important;
}

.job-status.confirmed {
  color: #A5FF0A;
}

.job-status.applied {
  color: #E88A0C;
}

.job-status.applied {
  color: #3498db;
}

.price p {
  color: rgba(0,0,0,1);
  margin-top: 6px;
  font-size: 14px;
  font-weight: lighter;
}

.upper-card {
  display: flex;
  justify-content: space-between;
}

.lower-card {
  display: flex;
}

.card hr {
  border-width: 0.5px;
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

/* app navbar*/

header {
  color: white;
  background-color: white;
}

#topbar {
  background-color: white;
}

#footer {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.btn-add {
  padding-bottom: 10px;
}

.nav-wrapper {
  background-color: rgba(190,190,190,0.5);
}

/* Overlapping avatars */

.card h1 {
  margin-top: 0px;
  margin-bottom: 2px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
